@import "./Variables.module.scss";

.products_wrapper {
  width: 95%;
  padding-top: 15px;
  margin: auto;
  font-family: $open-sans;

  .filter_products_wrapper {
    @include flex-between;
    align-items: flex-start;
    width: 100%;
    .filters_wrapper {
      width: 20%;
      @include flex-column;
      overflow-y: auto;

      .filter_cats {
        width: 100%;
      }

      .filter_heading {
        @include flex-column;
        align-items: flex-start;
        border-bottom: 1px solid $extra-light-grey;
        width: 100%;
        // padding: 10px 0;

        h3 {
          font-size: 18px;
          font-weight: bold;
          text-transform: capitalize;
          margin: 10px 0;
        }
        p {
          font-size: 14px;
          margin: 0;
        }
      }
      .filters_cat {
        width: 100%;
        margin: 10px 0;
        h3 {
          font-size: 14px;
          font-weight: 600;
          margin: 10px 0;
        }
        p {
          padding: 10px;
          cursor: pointer;
          width: 100%;
          font-size: 14px;
          font-weight: 500;
          margin: 0;
          &:hover {
            font-weight: 600;
            background: $yellow-light;
            color: white;
          }
        }
      }
    }

    .products_item_wrapper {
      // margin-top: 10px;
      width: 80%;
      .images_fiter {
        margin: 35px 0px;
        margin-top: 10px;
        margin-bottom: 0px;
        display: flex;
        justify-content: space-around;
        .images_fiter_wrapper {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .sub_categories_image_div_wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .sub_categories_image_grey_div {
              background-color: rgb(242, 242, 242);
              border-radius: 50%;
              height: 130px;
              width: 130px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .sub_categories_image_div {
              position: relative;
              width: 75px;
              height: 75px;
              .sub_categories_img {
                border-radius: 22px;
                width: 100%;
                height: 100%;
                // width: 50px;
                // height: 80px;
              }
            }
          }
        }
      }

      .categories_wrapper {
        width: 100%;
        margin: 30px auto;
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;

        img {
          width: 100%;
          margin: auto;
        }
      }

      .products_cards_wrapper {
        margin-top: 50px;
        @include flex-start;
        border-left: 1px solid $extra-light-grey;
        border-top: 1px solid $extra-light-grey;
        flex-wrap: wrap;
      }
    }
  }
}

@media (max-width: $breakpoint-large) {
  .products_wrapper {
    .filter_products_wrapper {
      display: flex;
      flex-direction: column;

      .filters_wrapper {
        width: 100%;
        .filter_heading {
          p {
            display: none;
          }
        }

        .filters_cat {
          display: none;
        }
      }

      .products_item_wrapper {
        width: 100%;

        .images_fiter {
          margin: 40px 0px 0px 0px;
          .images_fiter_wrapper {
            .sub_categories_image_div_wrapper {
              .sub_categories_image_grey_div {
                width: 120px;
                height: 120px;
              }

              .sub_categories_image_div {
                width: 70px;
                height: 70px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .products_wrapper {
    .filter_products_wrapper {
      .products_item_wrapper {
        .images_fiter {
          margin: 0px;
          .images_fiter_wrapper {
            display: none;
          }
        }

        .products_cards_wrapper {
          margin-top: 20px;
          border: none;
        }
      }
    }
  }
}
