@import "./Variables.module.scss";

.products_card {
  // flex: 1;
  width: 24%;
  // height: 550px;
  // @include flex-column;
  // justify-content: space-around;
  margin: 10px 5px;
  padding: 30px 0px 45px 0px;
  border-right: 1px solid $extra-light-grey;
  border-bottom: 1px solid $extra-light-grey;

  .heart {
    // margin-top: 30px;
    margin-left: 10px;
    @include flex-around;
    justify-content: flex-start;
    color: $yellow;

    &:hover .display {
      display: block;
    }
    .display {
      display: none;
      margin-left: 20px;
    }
    .icon {
      // font-size: 24px;
      font-size: 30px;
    }
    h4 {
      font-size: 17px;
      font-weight: 600;
      cursor: pointer;
    }
  }
  .card_details {
    width: 95%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .hanker_wrapper {
      .card_image {
        margin-top: 30px;
        width: 95%;
        margin-left: 6px;
        height: 140px;
        position: relative;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
          .display {
            display: block;
          }
        }
        cursor: pointer;

        .display {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: 160px;
          img {
            height: 140px;
          }
          p {
            text-align: center;
            background: $yellow;
            color: white;
          }
        }
      }
      .card_info {
        margin-top: 100px;
        h4 {
          font-size: 16px;
          margin: 10px 0px 50px 0px;
          font-weight: 700;
        }
        .ratings {
          // font-size: 16px;
          color: $yellow;
          // width: 70%;
          // @include flex-center;
          // justify-content: flex-start;
          span {
            margin: 0 15px 0 0;
          }
        }
        .max_min_prize {
          margin-top: 30px;
          font-size: 18px;
          font-weight: 600;
          margin: 10px 0;
        }

        .year_schedule {
          color: $light-grey;
          font-size: 13px;
          font-weight: 700;
        }

        // .policy{
        //   margin-top: 5px;
        //   font-size: 13px;
        //   font-weight: 400;
        //   color: $light-grey;
        //   text-decoration: underline;
        //   &:hover {
        //     text-decoration: none;
        //   }
        // }
        // .delovery_detail {
        //   font-size: 14px;
        //   color: $light-grey;
        // }
      }
    }

    .learn_how {
      width: 100%;
      .policy {
        cursor: pointer;
        margin-top: 5px;
        font-size: 13px;
        font-weight: 400;
        color: $light-grey;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-large) {
  .products_card {
    width: 48%;
  }
}

@media (max-width: $breakpoint-medium) {
  .products_card {
    border: 1px solid $extra-light-grey;
    margin: 0px 5px;
    padding: 30px 0px 30px 0px;
    width: 99%;

    .card_details {
      align-items: flex-start;
      .hanker_wrapper {
        width: 100%;

        .card_image {
          margin-left: 20px;
          width: 80%;
          height: 230px;
        }

        .card_info {
          margin-top: 30px;
          h4 {
            margin: 10px 0px 10px 0px;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .products_card {
    .card_details {
      .hanker_wrapper {
        .card_image {
          height: 200px;
          width: 90%;
          margin-left: 10px;
        }
      }
    }
  }
}
